In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.metrics import r2_score

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [5]:
df_train = df[['LotArea','1stFlrSF','2ndFlrSF','BsmtHalfBath','FullBath','HalfBath','BedroomAbvGr','TotRmsAbvGrd','TotalBsmtSF','PoolArea','SalePrice']]

In [6]:
df_train.head()

,LotArea,1stFlrSF,2ndFlrSF,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,TotalBsmtSF,PoolArea,SalePrice
0,8450,856,854,0,2,1,3,8,856,0,208500
1,9600,1262,0,1,2,0,3,6,1262,0,181500
2,11250,920,866,0,2,1,3,6,920,0,223500
3,9550,961,756,0,1,0,3,7,756,0,140000
4,14260,1145,1053,0,2,1,4,9,1145,0,250000

In [7]:
df1 = pd.read_csv('test.csv')

In [8]:
X_val = df1[['LotArea','1stFlrSF','2ndFlrSF','BsmtHalfBath','FullBath','HalfBath','BedroomAbvGr','TotRmsAbvGrd','TotalBsmtSF','PoolArea']]

In [19]:
X_val.dropna(inplace=True)

C:\Users\kpoli\AppData\Local\Temp\ipykernel_22740\3836157246.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_val.dropna(inplace=True)

In [20]:
X_val.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1457 entries, 0 to 1458
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotArea       1457 non-null   int64
 1   1stFlrSF      1457 non-null   int64
 2   2ndFlrSF      1457 non-null   int64
 3   BsmtHalfBath  1457 non-null   float64
 4   FullBath      1457 non-null   int64
 5   HalfBath      1457 non-null   int64
 6   BedroomAbvGr  1457 non-null   int64
 7   TotRmsAbvGrd  1457 non-null   int64
 8   TotalBsmtSF   1457 non-null   float64
 9   PoolArea      1457 non-null   int64
dtypes: float64(2), int64(8)
memory usage: 125.2 KB

In [10]:
X = df_train.drop(labels='SalePrice',axis=1)
y = df_train['SalePrice']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [12]:
# Linear Regression
lm = LinearRegression()
lm.fit(X_train,y_train)

y_pred = lm.predict(X_test)

r2_score(y_test,y_pred)

0.6966383933966926

In [13]:
# lasso Regression with hyperparameter tuning

lasso = Lasso()

param_grid = {'alpha': [0.01, 0.1, 1.0, 10.0]}

lassofit = GridSearchCV(lasso,param_grid,cv=5)

lassofit.fit(X_train,y_train)

y_pred_lasso = lassofit.predict(X_test)

r2_score(y_test,y_pred_lasso)

0.6966384000967868

In [14]:
# Ridge Regression with hyperparameter tuning

ridge = Ridge()

param_grid = {'alpha': [0.01, 0.1, 1.0, 10.0]}

ridgefit = GridSearchCV(ridge,param_grid,cv=5)

ridgefit.fit(X_train,y_train)

y_pred_ridge = ridgefit.predict(X_test)

r2_score(y_test,y_pred_ridge)

0.6966389877373873

#### There is no benifit with Regularisation, So we choose linear Regression

In [21]:
y_pred_val = lm.predict(X_val)

In [22]:
y_pred_val

array([123485.77219627, 178062.58722864, 197875.3034728 , ...,
       133037.83149893, 113499.45132818, 239296.16444067])